.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
  
}
.container-site-nav {
    display: flex;
    align-items: center;
    padding-top: 0px;
  padding-bottom: 0px;
    
  }
  .logo {
    display: inline-block;
    font-size:24px;
    letter-spacing: 0.03em;
    line-height: 1.16;
    padding-top:16px;
    padding-bottom: 16px;
    @media screen  and (min-width:768px){
      white-space:nowrap;
    }
      @media screen and (min-width:1200px) {
        font-size: 26px;
      }
    
    }
  .studio {
    font-family: Raleway, sans-serif;
    font-weight: bold;
   
    line-height: 1.19;
    color: #212121;
  }

  .web {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
  }
  .nav-btn {
    @media screen and (max-width:767px
    ){
    
    border: none;
    background-color: transparent;
    display: inline-flex;
    margin-left: auto;

  }
  @media screen and (min-width:768px)  {
    display: none;
  }
}
  .nav-btn .menu-icon-open {
		display: none;
  }
  .nav-btn.is-open .menu-icon-open {
		display: block;
  }
  .nav-btn.is-open .menu-icon-close {
		display: none;
	}
  .menu { 
    @media (max-width: 767px) {
      line-height: 1.16;
      font-size: 21px;
      letter-spacing: 0.02em;
    display: none;
		position: absolute;
		z-index: 999;
		top: 100%;
		left: 0;
		width: 100%;

		background-color: #ffffff;

		padding-top: 60px;
		padding-bottom: 60px;
		padding-left: 50px;
		padding-right: 50px;

		text-align: center;
		font-size: 20px;
		border-top: 1px solid #ececec;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  @media screen and (min-width:767px) {
    display: flex;
    align-items: center;
    
  }
  @media screen  and (min-width:1200px){
    width: 100%;
    margin-left: 68px;
    align-items: center;
  }
}
  .menu.is-open {
    @media screen  and (max-width:767px) {
      display: block;
    }
    
  }
  .site-nav {
    color: var(--title-text-color);
    display: flex;
    align-items: center;
    @media screen and (max-width:767px) {
      margin-bottom: 60px;
      
    }
  }
 
  .nav-list {
    display: flex;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 80px;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.02em;

  @media screen and (max-width:767px) {
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    
  }
  }
  .nav-list__item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
    padding-bottom: 8px;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0px;
      margin-right: auto;
    }
   
   
    color: #212121;
    @media screen and (min-width:767px) {
      margin-right: 50px;
      padding-bottom: 32px;
      padding-top: 32px;
      margin-bottom: 0px;
       
        &:last-child {
          margin-right: 0px;
        }
     }
    
    }
  
  .nav-list__item
  .site-nav__link:hover,
  .site-nav__link:focus {
    color: $accent-color;
  }
  .site-nav__link {
    transition:$transition;
  }
  .active {
    color: $accent-color;
  }
  .current::after {
    content: "";
    position: absolute;
    transform: translateX(-100%);
    height: 4px;
    width: 100%;
    bottom: 0;
    background: #2196f3;
    border-radius: 2px;
  }
  .contacts-list {
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    &:last-child {margin-right: 0px;}

    @media screen and (max-width:767px) {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      
    }
    @media screen  and (min-width:768px){
     
      margin-left: 81px;
      
    }
    @media screen and (min-width:1200px){
     margin-left: auto;
    }
  }
  .contacts-list__svg {
    fill: $primary-text-color;
    margin-right: 10px;
  }
  

  
  .contacts-list__item {
    display: inline-flex;
    margin-right: 10px;
    font-weight: 500;
    line-height: 1.16;
      font-size: 21px;
      letter-spacing: 0.02em;
    text-align: center;
    @media screen and (max-width:767px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 16px;
      &:last-child {margin-bottom: 0px;}
      
    }
    @media screen and (min-width: 768px) {
      margin-right: 0px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    @media screen and (min-width:1200px) {
      margin-bottom: 0px;
    }
  }
  .contacts-list__link {
    font-size: 18px;
    color: $primary-text-color;
    transition: $transition;

    @media screen  and (min-width:768px) {
      display: inline-flex;
      font-size: 12px;
    }
    @media screen and (min-width:1200px) {
      font-size: 14px;
      align-items: center;
    }
  }
  .contacts-list__svg {
    width: 16px;
    vertical-align: middle;
    transition: $transition;
    @media screen  and (min-width:768px){
      width: 14px;

    }
  }
  .contacts-list__link:hover .contacts-list__svg,
  .contacts-list__link:focus .contacts-list__svg {
    fill: $accent-color;
  }
  .contacts-list__link:hover,
  .contacts-list__link:focus {
    color: $accent-color;
  }