.works__title {
    
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.3em;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 480px) {
      display: none;}
  }
  .none { @media screen and (min-width: 480px) {
    display: none;}}
  .works-list {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin: 0px;

    @media screen and (min-width: 480px) {
      display: none;}
  }
  
  .works-list__item:last-child {
    margin-right: 0px;
  }
  .works-list__item {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }